.sub-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}

.text-sub-header {
  font-size: 1.8rem;
  color: var(--ion-color-light);
  font-weight: 300;
  margin: 0;
}

.text-sub-header span:nth-child(1) {
  /* display: block; */
  color: var(--ion-color-light-tint);
  font-weight: 700;
  line-height: 1.5rem;
}
