.play-song {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.audio-none {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
